* {
    box-sizing: border-box;
}

/* Color Palette
#30364F - Dark Navy
#ACBAC4 - Grayish Blue
#E1D9BC - Grayish Tan
#F0F0DB - Off White
*/

/* Global styles 
------------------------------------*/
body {
    background: #F0F0DB;
    font-family: 'Courier Prime', monospace;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Special Elite', cursive;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
}

header h1, header h2 {
    margin: 0;
}

header h2 {
    color: #ACBAC4;
}

h3 {
    font-weight: 700;
    color: #30364F;
    font-size: 20px;
    border-left: 4px solid #30364F;
    padding-left: 10px;
}

p {
    font-weight: 400;
}

ul {
    padding-left: 20px;
    line-height: 1.8;
}

/* homework 7 styling
------------------------------------*/
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
    padding-top: 20px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 225px;
}

.column-narrow, .column-wide {
    margin-bottom: 30px;
}

/* Header & Footer 
------------------------------------*/
header {
    background: #30364F;
    color: #F0F0DB;
    padding: 60px 0;
}

footer {
    background: #30364F;
    color: #F0F0DB;
    text-align: center;
}

footer a {
    color: #ACBAC4;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* Work Experience
------------------------------------*/
.work-experience{
    background: #F0F0DB;
}

.work-experience, .education {
    padding: 60px 0;
}

/* Education
------------------------------------*/
.education {
    background-image: url('../images/raccoon_city.webp');
    background-size: cover;
    background-position: center;
    color: #F0F0DB;
}

.education h3 {
    color: #ACBAC4;
    border-left: 4px solid #ACBAC4;
}

/* Proflie Pic
------------------------------------*/
.profile-img {
    object-fit: cover;
}